.slides{
    max-width: 470px;
    overflow-x: scroll;
    overflow: hidden;
    margin: auto;
}
.slide{
    width: 470px;
    min-height: 100px;
    transition: 0.5s;
}
.slideContainer{
    display: flex;
    transition: 0.5s;
    width: 100000px;
}
.sliderList{
    height: 350px;
    overflow-y: scroll;
}
.sliderList::-webkit-scrollbar{
    width: 7px;
}
.sliderList::-webkit-scrollbar-thumb{
    background-color: rgb(196, 193, 193);
    border-radius: 4px;
}
.slidesButtom{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.carouselNaoHaDados{
    text-align: center;
    margin-top: 70px;
}
@media (max-width:500px) {
    .buttons{
        width: 60px;
    }
    .slidesButtom{
        display: flex;
        margin-top: 10px;
    }
    .sliderList{
        height: 360px;
        overflow-y: scroll;
    }
    .slide{
        width: 95vw;
    }
    .slides{
        width: 95vw;
    }
}
