.inputText{
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 9px;
  border: none;
  padding: 17px;
  margin-bottom: 20px;
  outline-style: none;
  
}
.inputGlobal{
  border: none;
  background-color: transparent;
  outline-style: none;
  min-width: 90%;
  margin: 4%;

}
.inputGlobalContainer{
  
  border-radius: 9px;
  width: 100%;
  margin: 16px 0px;
}
.btnGlobal{
  background-color: #03a9f4;
}