.inputText{
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 9px;
  border: none;
  padding: 17px;
  margin-bottom: 20px;
  outline-style: none;
  
}
.btnGlobal{
  background-color: #03a9f4;
}